html, 
body{
   height: 100%;
   font-family: 'Montserrat', sans-serif;
}

.wrapper {
   width: 1170px;
   margin: 0 auto;
   height: 100%;
   position: relative;
}

.main-page{
   background: linear-gradient(270.08deg, #A5DEFF 0.07%, #FCFEFF 99.94%);
   height: 100%;
   display: flex;
   flex-direction: column;
}

header{
   margin-top: 34px;
   margin-bottom: 58px;
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
}

.logo-text{
   margin-left: 18px;
}

.banderagus-starttext{
   color: #FF6B0A;
   font-weight: 600;
   font-size: 24px;
   line-height: 24px;
   margin-bottom: 48px;
}

.banderagus-title{
   color: #000000;
   font-weight: 600;
   font-size: 64px;
   line-height: 72px;
}

.banderagus-container{
   background: #fff;
   padding: 60px 56px;
   align-self: center;
}

.banderagus-greeting{
   color: #000000;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 16px;
}

.banderagus-desc{
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
   margin-top: 24px;
   margin-bottom: 48px;
}

.banderagus-launch{
   background: #FF6B0A;
   border-radius: 8px;
   padding: 12px 24px;
   color: #fff;
   cursor: pointer;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
}

.main-page-row{
   display: flex;
   justify-content: space-between;
   height: 100%;
}

.banderagus-image{
   align-self: flex-end;
}

.gus-facts{
   padding: 52px 0 72px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.gus-title{
   font-weight: 600;
   font-size: 48px;
   line-height: 24px;
   color: #000000;
   margin: 16px 0;
}

.gus-descript{
   font-weight: 400;
   font-size: 24px;
   line-height: 24px;
   text-align: center;
   color: #000000;
   width: 875px;
}

.gus-facts-container{
   width: 1111px;
   display: flex;
   justify-content: space-between;
}

.gus-fact-item{
   width: 23%;
}

.gus-fact-title{
   font-weight: 600;
   font-size: 24px;
   line-height: 24px;
   color: #000;
   margin: 12px 0 32px 0;
}

.gus-fact-descript{
   color: #000;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   width: 280px;
}

.victory-footer{
   display: flex;
   justify-content: center;
}

.victory-bgd{
   background: linear-gradient(270.08deg, #BFE8FF 0.07%, #FCFEFF 99.94%);
   width: 1280px;
   padding: 51px 0 72px 0;
   margin-bottom: 72px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.victory-title{
   font-weight: 600;
   font-size: 48px;
   line-height: 24px;
   color: #000;
   margin: 40px 0 30px 0;
}

.victory-descr{
   font-weight: 400;
   font-size: 24px;
   line-height: 24px;
   color: #000;
   width: 875px;
   text-align: center;
}

.modal-bgd{
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(27 29 31 / 70%);
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s ease-in-out;
}

.modal-form{
   display: flex;
   flex-direction: column;
   align-items: center;

}

.modal-form-container{
   background: #FFFFFF;
   padding: 32px 93px 60px 93px;
   position: relative;
}

.modal-form-title{
   color: #000;
   font-weight: 600;
   font-size: 24px;
   margin: 32px 0 12px 0;
}

.modal-form-descr{
   color: #000;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 24px;
}

.modal-form-field{
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 16px;
}

.modal-field-input{
   background: #F1F1F1;
   border: 1px solid #005BBB;
   border-radius: 8px;
   width: 100%;
   height: 40px;
   margin-top: 8px;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #000;
   padding: 4px 8px;
}

.modal-form-button{
   background: #FF6B0A;
   border-radius: 8px;
   padding: 12px 24px;
   color: #fff;
   cursor: pointer;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   margin: 24px 0 auto 0;
}

.close-btn{
   position: absolute;
   right: 24px;
   top: 24px;
   font-size: 25px;
   color: #000;
   cursor: pointer;
   border: 0;
   background: 0;
}

.modal-form-title-active {
   margin: 32px 0 34px 0;
   font-weight: 600;
   font-size: 24px;
   line-height: 24px;
}

.modal-form-descr-active{
   font-weight: 600;
   font-size: 24px;
   line-height: 24px;
   margin-bottom: 0;
}

.modal-active {
   opacity: 1;
   pointer-events: all;
}

.gus-anim {
   position: fixed;
   top: 0;
   bottom: 0;
   margin-bottom: auto;
   margin-top: auto;
   width: 100%;
   z-index: 2;
   pointer-events: none;
}